---
import { PortableText } from 'astro-portabletext';
const { section, index, alternate } = Astro.props;
const SECTION_ID = `portfolio-section-${index}`;
---

<section id={SECTION_ID} class={alternate ? `portfolio-section alternate` : `portfolio-section`} data-index={index}>
  <div class="content-block">
    {section.heading && <h2>{section.heading}</h2>}
    <PortableText value={section.description} />
  </div>
  <div class="image-wrapper">
    <img src={section.imageUrl} alt={section.title} />
  </div>
</section>

<style>
  section {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--space-md);
    scroll-margin-top: 5rem;
    @media (min-width: 48rem) {
      /* Styles for 768px and up */
      flex-flow: row nowrap;
      gap: var(--space-2xl);
    }
  }
  section.alternate .content-block {
    order: 1;
  }
</style>
