---
import BaseHead from '../components/astro/BaseHead.astro';
import Header from '../components/astro/Header.astro';
import MainNav from '../components/solid/MainNav';

type Props = {
  title?: string;
  description?: string;
  image?: string;
  backgroundImage?: string;
};

const { title, description, image, backgroundImage } = Astro.props;
const style = backgroundImage ? `--bg-url: url('${backgroundImage}')` : null;
const className = backgroundImage ? 'background-image' : null;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <slot name="head" />
  </head>
  <body style={style} class={className}>
    <Header>
      <MainNav client:load />
    </Header>
    <slot />
  </body>
</html>

<style>
  body.background-image {
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    @media (min-width: 96rem) {
      background-position: top left;
      background-size: 100%;
    }
  }
</style>
