---
import BaseHead from '../components/astro/BaseHead.astro';
import Header from '../components/astro/Header.astro';
import Footer from '../components/astro/Footer.astro';
import MainNav from '../components/solid/MainNav';
import { ClientRouter } from 'astro:transitions';

type Props = {
  title?: string;
  description?: string;
  image?: string;
  backgroundImage?: string;
};

const { title, description, image, backgroundImage } = Astro.props;
const style = backgroundImage ? `--bg-url: url('${backgroundImage}')` : null;
const className = backgroundImage ? 'background-image' : null;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <slot name="head" />
    <ClientRouter />
  </head>
  <body style={style} class={className}>
    <Header>
      <MainNav client:load />
    </Header>
    <section>
      <slot />
    </section>
    <Footer />
  </body>
</html>

<style>
  body.background-image {
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @media (min-width: 48rem) {
      background-attachment: fixed;
    }
  }
</style>

<script>
  const scrollToAnchoredElement = () => {
    const hash = window.location.hash;
    if (hash) {
      const target = document.querySelector(hash);
      if (target) {
        target.scrollIntoView({ behavior: 'smooth' });
      }
    }
  };
  document.addEventListener('astro:after-swap', () => {
    scrollToAnchoredElement();
  });
</script>
